@import "tailwindcss";

/* Reset mínimo que no rompe los bordes de Tailwind */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* NO border:0 aquí */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* evita scroll horizontal */
  /* NO width:100vw; NO overflow:auto */
}

ol,
ul {
  list-style: none;
}

:root {
  --primaryBlue: #61BACA;
  --mintBlue: #9CD1CE;
  --paleCyan: #9FD8E1;
  --tealDark: #1D837F;
  --turquoise: #3EAEB1;
  --backgroundLight: #D7EAEE;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding-top: 10px !important;
  background-image: url('../public/background/v870-tang-35.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 992px) {
  main {
  background-image: url('../public/background/v870-tang-37.jpg');
  background-size: 100vh;
  }
}

