.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  padding: 1rem 2%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--paleCyan);
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin-left: auto;
  padding-right: 5rem;
  max-width: calc(100% - 60px);
}

.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
}

.activeLink {
  border-bottom: 2px solid var(--tealDark);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}

.logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

/* Botón hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  margin-top: 5px;
  margin-right: auto;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Estado abierto (X) */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

/* @media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #121212;
    color: #f5f5f5;
  }
} */

/* Responsive */
@media (max-width: 1200px) {
  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: var(--tealDark);
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 70px;
    left: 20px;
  }

  .activeLink {
    border-bottom: 2px solid var(--backgroundLight);
  }

  .menu.open {
    display: flex;
  }

  .logo {
    margin-left: 0px;
  }
}